# Test files containing sensitive data
test/linkedin_job_page.html

# IDE specific files
.idea/
*.iml

# OS specific files
.DS_Store

# Dependency directories
node_modules/

cookies_export.json
.flatignore
flat.sh
